.cat-salario td       { background-color: #F7703C !important; color:white; }
.cat-alimentacao td   { background-color: #FF5733 !important; color:white; }
.cat-transporte td    { background-color: #D5465C !important; color:white; }
.cat-lazer td         { background-color: #AB3585 !important; color:white; }
.cat-moradia td       { background-color: #8023AD !important; color:white; }
.cat-outros td        { background-color: #5A2790 !important; color:white; }
